h1 {font-weight: bold; 
    font-size: 4rem;
    line-height: 50%; }

table, th, td {
        border: 1px solid;}

/*To override a potential CSS file in my HTML file, you need to put !important to your properties.*/