body {
    margin-left: 2%; /* Adjust the percentage value as needed */
  }

h1 {font-weight: bold; 
    font-size: 4rem;
    line-height: 50%; }

p, ul, pre, table {
    font-family: "Open Sans";
  }

  #TableTop1, #TableTop2 {
    /*font-weight: 700; doesnt work*/
    font-family: "Roboto";
  }

  .table-container {
    margin-left: 2rem; /* Adjust the percentage value as needed */
  }

  .Intro {
    display: flex;
    align-items: flex-start; /* Vertically aligns items in the container */
  }

  .IntroText {
    margin-left: 3rem;
    
  }

table, th, td {border: 1px solid;}


body {background-image: url("../images/Background.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;}

/*To override a potential CSS file in my HTML file, you need to put !important to your properties.*/